{% extends 'base.html' %}
{% load osiris_extras %}
{% load humanize %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/google-buttons.css" />
{% endblock %}
{% block extrascripts %}
<script src="{{STATIC_URL}}js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.tablescroll.js" type="text/javascript"></script>
{% endblock %}
{% block title %}New Campaign{% endblock %}
{% block pagetitle %}Add New Campaign{% endblock %}
{% block smalltitle %}{% endblock %}
{% block content %}
<form action="/campaign/add/" method="post">{% csrf_token %}
{{ form.as_p }}
{% endblock %}
{% block contenttwo %}
<input type="submit" value="Create New Campaign" class="g-button blue"/><hr /><a href="/campaign/" class="g-button red"><i class="icon-remove icon-white"></i> Cancel</a>
</form>
{% endblock %}
{% block highcharts %}
<script>
	$(function() {
		$( ".date" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
			changeYear: true, minDate: new Date(1970, 1 - 1, 1), shortYearCutoff: 50, yearRange: 'c-3:c+3' });
	});
</script>
{% endblock %}