{% extends 'basenosplit.html' %}
{% load osiris_extras %}
{% load url from future %}
{% load humanize %}
{% block extrastyle %}{% endblock %}
{% block extrascripts %}{% endblock %}
{% block title %}Login{% endblock %}
{% block pagetitle %}Please Login{% endblock %}
{% block smalltitle %}{% endblock %}
{% block content %}
{% if form.errors %}
<div class="alert alert-error">
Your username and password didn't match. Please try again.
</div>
{% endif %}

<div class="well">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<div class="input-prepend">
	<span class="add-on">Username</span>
	{{ form.username }}
</div><br />
<div class="input-prepend">
	<span class="add-on">Password</span>
	{{ form.password }}
</div><br />
<input type="submit" value="Login" class="btn btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}
