{% extends 'base.html' %}
{% load osiris_extras %}
{% load humanize %}
{% block title %}Daily Stats{% endblock %}
{% block pagetitle %}{{title}}{% endblock %}
{% block content %}{{error}}
{% if stat %}
	<table id="dailystatstable" class="sortable table table-bordered table-striped">
		<thead>
			<tr>
				<th class="head">Agent</td>
				<th class="head">Call time</td>
				<th class="head">Call Attempts</td>
				<th class="head">Applications</td>
				<th class="head">Sick</td>
				<th class="head">Holiday</td>
			</tr>
		</thead>
		<tbody>
	{% for Dstat in stat %}
			<tr>
				<td><a href="/agent/{{Dstat.agent.slug}}">{{Dstat.agent}}</a></td>
				{% if Dstat.prodhours == 0 and Dstat.otherhours == 0 and Dstat.innovhours == 0 and Dstat.sickhours == 0 and Dstat.holhours == 0 %}
					<td colspan="2"><b>Part Time Day Off</b></td>
					<td>{{Dstat.totalapps}}</td>
					<td></td>
					<td></td>
				{% else %}
					{% if Dstat.otherhours = targets.hours or Dstat.innovhours = targets.hours %}
						<td colspan="2"><b>In Training/Meetings or on the Road</b></td>
						<td>{{Dstat.totalapps}}</td>
						<td></td>
						<td></td>
					{% else %}
						<td>{{Dstat.calltime|humantime}}</td>
						<td>{{Dstat.callattempts}}</td>
						<td>{{Dstat.totalapps}}</td>
						{% if Dstat.sickhours = targets.hours %}
							<td><center><img src="{{STATIC_URL}}image/black/ic_ok.png" /></center></td>
						{% else %}
							<td> </td>
						{% endif %}
						{% if Dstat.holhours = targets.hours %}
							<td><center><img src="{{STATIC_URL}}image/black/ic_ok.png" /></center></td>
						{% else %}
							<td> </td>
						{% endif %}
					{% endif %}
				{% endif %}
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% else %}
	<h2>No Stats for this Date</h2>
{% endif %}
{% endblock %}
{% block contenttwo %}
<h3>Highest Apps</h3>
{% for agent in highapps %}
	<b>{{agent.0}}</b> with <b>{{agent.1}}</b><br />
{% endfor %}
<br />
<h3>Highest Call Time</h3>
{% for agent in highcall %}
	<b>{{agent.0}}</b> at <b>{{agent.1|humantime}}</b><br />
{% endfor %}
<br />
<h3>Highest Call Attempts</h3>
{% for agent in highattempts %}
	<b>{{agent.0}}</b> with <b>{{agent.1}}</b><br />
{% endfor %}
<br />
<a href="{{print}}" class="btn btn-primary"><i class="icon-print icon-white"></i> Print These Stats</a>
<hr />
<a class="btn btn-info" href="{{switch}}">Switch to {{switchtype}} view</a>
<hr />
<input type="text" placeholder="Year" id="year-year" value="{% current_time "%Y" %}"><br />
<a class="btn btn-primary" id="year">View Year</a>
<hr />
<input type="text" placeholder="Year" id="year-month" value="{% current_time "%Y" %}" class="span1">
<select class="span2" id="month-month">
	<option value="jan">Jan</option>
	<option value="feb">Feb</option>
	<option value="mar">Mar</option>
	<option value="apr">Apr</option>
	<option value="may">May</option>
	<option value="jun">Jun</option>
	<option value="jul">Jul</option>
	<option value="aug">Aug</option>
	<option value="sep">Sep</option>
	<option value="oct">Oct</option>
	<option value="nov">Nov</option>
	<option value="dec">Dec</option>
</select><br />
<a class="btn btn-primary" id="month">View Month</a>
<hr />
<input type="text" placeholder="Year" id="year-week" value="{% current_time "%Y" %}" class="span1">
<input type="text" class="span2" placeholder="Week Number" id="week-week"><br />
<a class="btn btn-primary" id="week">View Week</a>
<hr />
<input type="text" placeholder="Year" id="year-day" value="{% current_time "%Y" %}" class="span1">
<select class="span1" id="month-day">
	<option value="jan">Jan</option>
	<option value="feb">Feb</option>
	<option value="mar">Mar</option>
	<option value="apr">Apr</option>
	<option value="may">May</option>
	<option value="jun">Jun</option>
	<option value="jul">Jul</option>
	<option value="aug">Aug</option>
	<option value="sep">Sep</option>
	<option value="oct">Oct</option>
	<option value="nov">Nov</option>
	<option value="dec">Dec</option>
</select>
<input type="text" class="span1" id="day-day" placeholder="Day"><br />
<a class="btn btn-primary" id="day">View Day</a>
{% include "general/datechange.html" %}
{% endblock %}

    
	
