{% extends 'basenosplit.html' %}
{% load osiris_extras %}
{% load humanize %}
{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css" />{% endblock %}
{% block extrascripts %}
<script src="{{STATIC_URL}}js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jquery.tablescroll.js" type="text/javascript"></script>
{% endblock %}
{% load humanize %}
{% block title %}Weekly Stats Input{% endblock %}
{% block pagetitle %}Weekly Stats Input{% endblock %}
{% block content %}{{input_formset.error}}
<form method="post" action="">{% csrf_token %}
	{{ global_formset.management_form }}
	{{ input_formset.management_form }}
	{% for global in global_formset %}
	<table>
		{{global}}
	</table>
	{% endfor %}
    <table id="thetable" class="table table-bordered table-striped dstats">
		<thead>
			<tr>
				<th class="head">Agent</td>
				<th class="head">Volume</td>
				<th class="head">Drawing Customers</td>
			</tr>
		</thead>
		<tbody>
			{% for form in input_formset %}
			<tr>
				<td class="agentname">
					{{form.pk}}
					{{ form.agent }}
				<td class="small">{{ form.volume }}</td>
				<td class="small">{{ form.drawcust }}</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
	<input class="btn btn-primary" type="submit" value="Input Stats" />
</form>
{% endblock %}
{% block highcharts %}
<script>
	$(function() {
		$( ".date" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
			changeYear: true, minDate: new Date(1970, 1 - 1, 1), shortYearCutoff: 50, yearRange: 'c-3:c+3' });
	});
	
	jQuery(function($){
		$(".time").mask("9:99",{placeholder:" "});
	});
	
	/*<![CDATA[*/
	jQuery(document).ready(function($)
	{
		$('#thetable').tableScroll({height:500});
	});
	/*]]>*/
</script>
{% endblock %}